/*---------------------- Light Theme ----------------------*/

/* Webpage background */
.bg-image{
    background-image: url('https://i.imgur.com/WJmoEJI.jpg');
    transition: ease-in-out 0.2s;
}

/* The container for each section */

.card-bg{
    background-color:#38AECCE6;
    transition: ease-in-out 0.2s;
}

#main{
    background-color: #38AECCCC;
    transition: ease-in-out 0.2s;
}