/*---------------------- General ----------------------*/
 
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
 
body{
    font-family: 'Quicksand', sans-serif;   
    padding-top: 6rem;
    color: #E0E7F5;
}
 
h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;    
}
 
/*---------------------- Side Nav ----------------------*/

/* ----------- Side Nav Credit: 3 -----------*/
.nav-button{
    position: fixed;
    top: 0;
    z-index: 1; /* Stay on top */
 
}

.logo{
    padding-top: 6px; 
    display: inline-block;
    color: #0F192E;
}
 
@media screen and (max-width: 425px) {
    .logo{
        font-size: 26px;
    }
}
 
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #2E5090; 
    opacity: 0.8;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    display: flex;
    flex-flow: column nowrap;
}
 
.nav-icon{
    height: 60px;
    width: 60px;
    float: left;
}

  @media screen and (max-width: 425px) {
    .nav-icon {
        height: 40px;
        width: 40px;
    }
}
 
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #E0E7F5;
    display: block;
    transition: 0.3s;
}
 
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #FF9000;
}
 
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
 
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    margin: 10px;
    padding: 5px;
}
.nav-theme-button {
    text-align: inherit;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
 
    .sidenav a {
        font-size: 18px;
    }
}
/*---------------------- Main Content/General ----------------------*/
 
.punctiuation {
    color: #FF9000;
}
 
.card-bg{
    min-width: 90vw;
    min-height: 90vh;
    padding:25px;
    margin-bottom: 25px;
    display: flex;
    flex-flow: row wrap;
    margin: 25px;
}
 
.content-row {
    flex: 0 1 100%;
    flex-flow: row wrap;
    display: flex;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .content-row {
        flex-flow: column;
    }
}
  
.section-header{
    flex: 0 1 100%;
    align-self: flex-start;
    text-align: left;
}

 @media screen and (max-width: 425px) {
    .section-header h1 {
        font-size: 26px;
    }
}

.bg-image{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-primary:hover {
    color: #0F192E;
    background-color: #FF9000;
    border-color: #0062cc;
}
/*---------------------- Welcome Content ----------------------*/
 
.welcome-text{
    flex: 0 1 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.welcome-text p{
    font-size: 22px;
    flex: 0 1 100%; 
    align-self: center;
}
  @media screen and (max-width: 425px) {
    .welcome-text p {
        font-size: 18px;
    }
}
.welcome-img-container{
    flex: 0 1 50%;
}

.welcome-img-container img{
    width: 100%;
    max-width: 40vw;
    min-width: 200px;
}

@media screen and (max-width: 768px) {
    .welcome-img-container img {
        min-width: 70vw;
    }
}

#welcome a{
    margin-top: 25px;
    font-size: 20px;
}
  @media screen and (max-width: 425px) {
    #welcome a {
        font-size: 18px;
    }
}
/*---------------------- Attractions Content ----------------------*/
.key{
    text-align: center;
    flex: 0 1 40%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
 

.key-row{
    flex: 0 1 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
 
.key-header {
    flex: 0 1 100%;
}
 
.key-icons {
    flex: 0 1 100%;
}
 @media screen and (max-width: 768px) {
    .key-group h4 {
        font-size: 16px;
    }

    .key-header h3 {
        font-size: 20px;
    }  
}

#map{
    flex: 0 1 60%;
    border: 2px solid #FF9000;
    height: 70vh;
}
@media screen and (max-width: 768px) {
    #map {
        flex-basis: auto;
    }
}
 
.key-icon{
    height: 60px;
    width: 60px;
    font-size:25px ;
    background-color: transparent;
    color: #FF9000;
    border-radius: 50%;
    border: 2px solid #FF9000;
    transition: ease-in-out 0.2s;
}

  @media screen and (max-width: 425px) {
    .key-icon {
        height: 40px;
        width: 40px;
        font-size: 20px;
    }
}
 
.key-icon-active {
    height: 60px;
    width: 60px;
    font-size: 25px;
    background-color: #FF9000;
    color: #2E5090;
    border-radius: 50%;
    border: 2px solid #FF9000;
    transition: ease-in-out 0.2s;
}

/*---------------------- Gallery Content ----------------------*/
 
/* ----------- Gallery Credit: -----------*/
#gallery .content-row {
    display: block;
    text-align: start;
}
 
* {box-sizing:border-box}
 
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
 
/* Hide the images by default */
.mySlides {
    display: none;
}
 
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #FF9000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
 
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
 
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
 
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
 
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #E0E7F5;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
 
.active, .dot:hover {
    background-color: #FF9000;
}
 
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
 
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
 
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
 
.fade:not(.show) {
    opacity: 1;
}
 
/*---------------------- Events Content ----------------------*/
 
.event-card {
    flex: 0 1 40%;
    display: flex;
    margin: 8px;
    background-color: #2E509099;
    padding: 10px;
    flex-flow: row wrap;
    justify-content: center;
}
.event-card img{
    flex: 0 1 100%;
    max-width: 40vw;
}
 
.event-text{
    flex: 0 1 100%;
}
.event-url{
    color: #FF9000;
}
 
#event-container {
    justify-content: space-evenly;
}

  @media screen and (max-width: 425px) {
    h3.event-name{
        font-size: 20px;
    }
}

/*---------------------- Contact us Content ----------------------*/
#contact .content-row {
    justify-content: space-evenly;
}

.card-bg-small{
    background-color: #2E509099;
}

.contact-info {
    flex: 0 1 20%;
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
}

.contact-form {
    flex: 0 1 40%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

form{
    display: flex;
    flex-flow: column;
    flex: 0 1 80%;
    justify-content: center;
}

.icon{
    color: #FF9000;
}

  @media screen and (max-width: 425px) {
    .section-header h3{
        font-size: 20px;
    }
}

/*---------------------- Footer ----------------------*/
.social-links-row{
    display: flex;
    background-color:#2E5090CC;
    min-width: 90vw;
    padding:25px;
    flex-flow: row;
    margin: 25px;
    justify-content: space-around;
}

.social-link .fab{
    color:#38AECC;
    font-size: 30px;
    width: 30px;
}

.social-link .fab:hover{
    color:#FF9000;
    transition: ease-in-out 0.2s;
}