/* ----------- General -----------*/

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body{
    font-family: 'Quicksand', sans-serif;   
    padding-top: 6rem;
}
h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;    
}


/* ----------- Day Theme -----------*/
.day-bg-image{
background-image: url('https://lh3.googleusercontent.com/7-Ke2Y2ctTPyQX8hTHNICEh_nUK6z2xWgDHlJ2540-KarSdWKXc76sniInw79NX35Z5e9hraBGkKLWbcPgghLVlHtmdHFK1grK9TVfAhpbYOG51kYkkiZ6v07ZVWYtTEz4Ji0XZBjA=w2400');
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-size: cover;
}
/* ----------- Night THeme -----------*/
.night-bg-image{
background-image: url('https://lh3.googleusercontent.com/Eve_d8-q6a-6PFIPgZ7R8I5Hhg1USPTSHX38xmagB4vCbV9hPWBsdRAeb-en962OnCinkayi4he1kvTCPec0Ou9fMhq3IUnO97CxKQ0ybThM2FvmIzjmS0IBM7f24UzsrrRVKFLSGg=w2400');
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-size: cover;
}

/* ----------- Side Nav -----------*/
.nav-button{
    position: fixed;
    top: 0;
    z-index: 1; /* Stay on top */

}
.logo{
    padding-top: 6px; 
    display: inline-block;
}

@media screen and (max-width: 425px) {
    .logo{
        font-size: 28px;
        padding-top:15px;
    }
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #2E5090; /* Black*/
  opacity: 0.8;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.nav-icon{
height: 60px;
width: 60px;
float: left;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #E0E7F5;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #FF9000;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*---------------------- Main Content/General ----------------------*/
.punctiuation {
    color: #FF9000;
}

.card-bg{
    min-width: 90vw;
    min-height: 90vh;
    background-color:#38AECCCC;
    padding:25px;
    margin-bottom: 25px;
    display: flex;
    flex-flow: row wrap;
    margin: 25px;
   

}

.content-row {
    flex: 0 1 100%;
    flex-flow: row wrap;
    display: flex;
    text-align: center;

}
.section-header{
     flex: 0 1 100%;
     align-self: flex-start;
     text-align: left;
}


/*---------------------- Welcome Content ----------------------*/

.welcome-text{
    flex: 0 1 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.welcome-text p{
       flex: 0 1 100%; 
}

.welcome-img{
    flex: 0 1 50%;
}

#welcome a{
margin-top: 25px;
}
/*---------------------- Attractions Content ----------------------*/
.key{
    text-align: center;
    flex: 0 1 40%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.key-row{
    flex: 0 1 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.key-header {
    flex: 0 1 100%;
}

.key-icons {
    flex: 0 1 100%;
}

#map{
    flex: 0 1 60%;
    border: 2px solid #FF9000;
}
.key-icon{
     height: 60px;
    width: 60px;
    font-size:25px ;
    background-color: transparent;
    color: #FF9000;
    border-radius: 50%;
    border: 2px solid #FF9000;
}

.key-icon-active {
    height: 60px;
    width: 60px;
    font-size: 25px;
    background-color: #FF9000;
    color: #2E5090;
    border-radius: 50%;
    border: 2px solid #FF9000;
}
